*{background-color: black;}
h1{
    font-size: 50px;
    color: goldenrod;
}
#k{
    font-size: 30px;
    color: darkorchid;
}
address{
    color: blueviolet;
    font-size: 25px;
}
#contact{
    font-size: 20px;
    color: beige;
}
